
@{
    ViewBag.Title = "usrregister";
}

<h2>usrregister</h2>





@model PTcrud.Models.adminmodel




<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Forms</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Basic Form Elements
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6">
                                @using (Html.BeginForm("usrregister", "Home", FormMethod.Post))
                                {
                                    <div class="form-group">
                                        <label>Username</label>

                                        @Html.TextBoxFor(m => m.usr_name, new { @class = "form-control" })
                                    </div>
                                <div class="form-group">
                                    <label>Password</label>

                                    @Html.TextBoxFor(m => m.pass, new { @class = "form-control" })
                                </div>




                                <button type="submit" class="btn btn-default">Submit Button</button>
                                
                                }
                            </div>
                            <!-- /.col-lg-6 (nested) -->



                        </div>
                        <!-- /.col-lg-6 (nested) -->
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>